<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>間違いやすい英語</title>
  <link rel="stylesheet" href="http://dictionary.goo.ne.jp/css/style.css">
  <style>
    .main {
      font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
      width: 644px;
      margin: auto;
    }
    
    .ttl-box {
      margin-top: 0;
    }
  </style>
</head>

<body>
  <div class="main">
    {{.Contents}}
  </div>
</body>

</html>