<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>間違いやすい英語</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="main">
    {{.Contents}}
  </div>
</body>

</html>