<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>間違いやすい英語</title>
  <link rel="stylesheet" href="style.css">
  <base href="http://dictionary.goo.ne.jp" target="_blank">
</head>

<body>
  <div class="main">
    <a href="/mistake_english/">間違いやすい英語</a>
    {{.Contents}}
  </div>
</body>

</html>