@charset "UTF-8";
.main {
    font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
    width: 644px;
    margin: auto;
}

.content-box-english {
	border: 5px #699be1 solid;
	margin: 24px 0;
}

.content-box-english .ttl-box {
	background: #699be1;
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	padding: 10px;
    margin-top: 0;
}

.content-box-english .ttl-box .num {
	display: inline-block;
	font-size: 20px;
	line-height: 1.6;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

*:first-child + html .content-box-english .ttl-box .num {
	display: inline;
	zoom: 1;
}

.content-box-english .ttl-box .update {
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	vertical-align: middle;
}

*:first-child + html .content-box-english .ttl-box .update {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in {
	line-height: 1.6;
	padding: 20px 16px;
}

.content-box-english .content-box-english-in p a {
	border-bottom: 1px #36c dotted;
	text-decoration: none;
}

.content-box-english .content-box-english-in .list-backnumber li {
	margin: 0 0 8px;
}

.content-box-english .content-box-english-in .list-backnumber li a {
	display: inline-block;
	line-height: 1.2;
	padding: 0 0 0 20px;
	position: relative;
}

.content-box-english .content-box-english-in .btn_more_backnumber {
	text-align: center;
}

*:first-child + html .content-box-english .content-box-english-in .list-backnumber li a {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .list-backnumber li a:before {
	color: #ccc;
	content: '\f0da';
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	margin-top: -7px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	z-index: 2;
}

.content-box-english .content-box-english-in .example-unit {
	padding: 24px 0;
}

.content-box-english .content-box-english-in .example-unit dl {
	box-sizing: border-box;
	letter-spacing: -0.4em;
	width: 100%;
}

.content-box-english .content-box-english-in .example-unit dl dt {
	display: inline-block;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.2;
	margin: 0 0 10px;
	vertical-align: top;
	width: 10%;
	word-break: break-all;
}

*:first-child + html .content-box-english .content-box-english-in .example-unit dl dt {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .example-unit dl dd {
	display: inline-block;
	letter-spacing: normal;
	line-height: 1.2;
	margin: 0 0 10px;
	vertical-align: top;
	width: 88%;
	word-break: break-all;
}

*:first-child + html .content-box-english .content-box-english-in .example-unit dl dd {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .example-unit dl a {
	border-bottom: 1px #36c dotted;
	color: #36c;
	text-decoration: none;
}

.content-box-english .content-box-english-in .point-unit {
	background: #fdfdd7;
	border: 3px #dd4c39 dashed;
	margin: 40px 0 24px;
	padding: 24px 20px 16px;
	position: relative;
}

.content-box-english .content-box-english-in .point-unit h3 {
	background: #dd4c39;
	border-radius: 32px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	left: 20px;
	padding: 5px 16px 3px;
	position: absolute;
	top: -20px;
}

*:first-child + html .content-box-english .content-box-english-in .point-unit h3 {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .point-unit p {
	font-size: 24px;
	margin: 12px 0;
	position: relative;
	width: 100%;
}

.content-box-english .content-box-english-in .point-unit p span {
	display: inline-block;
	font-size: 32px;
	font-size: 0;
	font-weight: bold;
	height: 32px;
	margin: 0 10px 0 0;
	position: relative;
	vertical-align: top;
	width: 32px;
}

*:first-child + html .content-box-english .content-box-english-in .point-unit p span {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .point-unit .ok span {
	background: url(http://dictionary.goo.ne.jp/mistake_english/img/ico_ok.png) no-repeat 0 50%;
	color: #f00;
}

.content-box-english .content-box-english-in .point-unit .ng span {
	background: url(http://dictionary.goo.ne.jp/mistake_english/img/ico_ng.png) no-repeat 0 50%;
	color: #00f;
}

.content-box-english .content-box-english-in .author {
	color: #999;
}
