@charset "UTF-8";
.main {
    font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
    width: 644px;
    margin: auto;
}

.content-box-english {
	border: 5px #699be1 solid;
	margin: 24px 0;
}

.content-box-english .ttl-box {
	background: #699be1;
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	padding: 10px;
    margin-top: 0;
}

.content-box-english .ttl-box .num {
	display: inline-block;
	font-size: 20px;
	line-height: 1.6;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

*:first-child + html .content-box-english .ttl-box .num {
	display: inline;
	zoom: 1;
}

.content-box-english .ttl-box .update {
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	vertical-align: middle;
}

*:first-child + html .content-box-english .ttl-box .update {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in {
	line-height: 1.6;
	padding: 20px 16px;
}

.content-box-english .content-box-english-in p a {
	border-bottom: 1px #36c dotted;
	text-decoration: none;
}

.content-box-english .content-box-english-in .list-backnumber li {
	margin: 0 0 8px;
}

.content-box-english .content-box-english-in .list-backnumber li a {
	display: inline-block;
	line-height: 1.2;
	padding: 0 0 0 20px;
	position: relative;
}

.content-box-english .content-box-english-in .btn_more_backnumber {
	text-align: center;
}

*:first-child + html .content-box-english .content-box-english-in .list-backnumber li a {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .list-backnumber li a:before {
	color: #ccc;
	content: '\f0da';
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	margin-top: -7px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	z-index: 2;
}

.content-box-english .content-box-english-in .example-unit {
	padding: 24px 0;
}

.content-box-english .content-box-english-in .example-unit dl {
	box-sizing: border-box;
	letter-spacing: -0.4em;
	width: 100%;
}

.content-box-english .content-box-english-in .example-unit dl dt {
	display: inline-block;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.2;
	margin: 0 0 10px;
	vertical-align: top;
	width: 10%;
	word-break: break-all;
}

*:first-child + html .content-box-english .content-box-english-in .example-unit dl dt {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .example-unit dl dd {
	display: inline-block;
	letter-spacing: normal;
	line-height: 1.2;
	margin: 0 0 10px;
	vertical-align: top;
	width: 88%;
	word-break: break-all;
}

*:first-child + html .content-box-english .content-box-english-in .example-unit dl dd {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .example-unit dl a {
	border-bottom: 1px #36c dotted;
	color: #36c;
	text-decoration: none;
}

.content-box-english .content-box-english-in .point-unit {
	background: #fdfdd7;
	border: 3px #dd4c39 dashed;
	margin: 40px 0 24px;
	padding: 24px 20px 16px;
	position: relative;
}

.content-box-english .content-box-english-in .point-unit h3 {
	background: #dd4c39;
	border-radius: 32px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	left: 20px;
	padding: 5px 16px 3px;
	position: absolute;
	top: -20px;
}

*:first-child + html .content-box-english .content-box-english-in .point-unit h3 {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .point-unit p {
	font-size: 24px;
	margin: 12px 0;
	position: relative;
	width: 100%;
}

.content-box-english .content-box-english-in .point-unit p span {
	display: inline-block;
	font-size: 32px;
	font-size: 0;
	font-weight: bold;
	height: 32px;
	margin: 0 10px 0 0;
	position: relative;
	vertical-align: top;
	width: 32px;
}

*:first-child + html .content-box-english .content-box-english-in .point-unit p span {
	display: inline;
	zoom: 1;
}

.content-box-english .content-box-english-in .point-unit .ok span {
	background: url(/mistake_english/img/ico_ok.png) no-repeat 0 50%;
	color: #f00;
}

.content-box-english .content-box-english-in .point-unit .ng span {
	background: url(/mistake_english/img/ico_ng.png) no-repeat 0 50%;
	color: #00f;
}

.content-box-english .content-box-english-in .author {
	color: #999;
}

.sankei-banner {
	margin: 0 0 24px;
	text-align: center;
}

.backnumber {
	text-align: center;
}

.backnumber a {
	padding: 0 0 0 15px;
	position: relative;
}

.backnumber a:before {
	color: #333;
	content: '\f054';
	display: block;
	font-family: FontAwesome;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	margin-top: -6px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	z-index: 2;
}

/* PowerTip Plugin */
#powerTip {
	background-color: rgba(0, 0, 0, 0.8);
	background-color: #333;
	border-radius: 3px;
	color: #fff;
	cursor: default;
	display: none;
	font-size: 11px;
	padding: 6px 8px;
	position: absolute;
	white-space: nowrap;
	z-index: 2147483647;
}

#powerTip:before {
	content: '';
	position: absolute;
}

#powerTip.n:before,
#powerTip.s:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	left: 50%;
	margin-left: -5px;
}

#powerTip.e:before,
#powerTip.w:before {
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	margin-top: -5px;
	top: 50%;
}

#powerTip.n:before {
	border-top: 10px solid #333;
	border-top: 10px solid rgba(0, 0, 0, 0.8);
	bottom: -10px;
}

#powerTip.e:before {
	border-right: 10px solid #333;
	border-right: 10px solid rgba(0, 0, 0, 0.8);
	left: -10px;
}

#powerTip.s:before {
	border-bottom: 10px solid #333;
	border-bottom: 10px solid rgba(0, 0, 0, 0.8);
	top: -10px;
}

#powerTip.w:before {
	border-left: 10px solid #333;
	border-left: 10px solid rgba(0, 0, 0, 0.8);
	right: -10px;
}

#powerTip.ne:before,
#powerTip.se:before {
	border-left: 0;
	border-right: 10px solid transparent;
	left: 10px;
}

#powerTip.nw:before,
#powerTip.sw:before {
	border-left: 10px solid transparent;
	border-right: 0;
	right: 10px;
}

#powerTip.ne:before,
#powerTip.nw:before {
	border-top: 10px solid #333;
	border-top: 10px solid rgba(0, 0, 0, 0.8);
	bottom: -10px;
}

#powerTip.se:before,
#powerTip.sw:before {
	border-bottom: 10px solid #333;
	border-bottom: 10px solid rgba(0, 0, 0, 0.8);
	top: -10px;
}

#powerTip.nw-alt:before,
#powerTip.ne-alt:before,
#powerTip.sw-alt:before,
#powerTip.se-alt:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #333;
	border-top: 10px solid rgba(0, 0, 0, 0.8);
	bottom: -10px;
	left: 10px;
}

#powerTip.ne-alt:before {
	left: auto;
	right: 10px;
}

#powerTip.sw-alt:before,
#powerTip.se-alt:before {
	border-bottom: 10px solid #333;
	border-bottom: 10px solid rgba(0, 0, 0, 0.8);
	border-top: none;
	bottom: auto;
	top: -10px;
}

#powerTip.se-alt:before {
	left: auto;
	right: 10px;
}

@media screen and (min-width: 600px) and (max-width: 639px) {
	.trends {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
    /* ============================== */
    /* Generic                        */
    /* ============================== */
	* {
		box-sizing: border-box;
	}

    /* sp-hidden */
	.sp-hidden {
		display: none !important;
	}

    /* sp-visible */
	.sp-visible {
		display: block !important;
	}

	.sp-visible-inline {
		display: inline !important;
	}

	.sp-visible-inline-block {
		display: inline-block !important;
	}

	img {
		max-width: 100%;
	}

    /* ============================== */
    /* Base                           */
    /* ============================== */
    /* ============================== */
    /* Objects                        */
    /* ============================== */
    /* contents-wrap */
	.content-header {
		margin: 0 0 20px;
	}

    /* - contents-wrap-a */
	.contents-wrap-a {
		background: #fff;
		border: 0;
		margin: 0;
		padding: 0;
	}

	.contents-wrap-a .lead {
		margin: 0;
		padding: 10px 10px 0;
	}

	.contents-wrap-a-in {
		padding: 0;
	}

	.contents-wrap-a-in.search {
		border-bottom: 1px #999 solid;
	}

	.contents-wrap-a-in.index {
		padding: 0;
	}

	.contents-wrap-a-in.linkbar {
		padding: 0;
	}

	.contents-wrap-a-in.margin {
		margin: 24px 0 0;
	}

    /* - contents-wrap-b */
	.contents-wrap-b {
		border-bottom: 1px #666 solid;
		padding: 20px 8px 32px;
	}

	.contents-wrap-b.bottom-none {
		border-bottom: 0;
		padding: 20px 8px 12px;
	}

	.contents-wrap-b > .header {
		width: 100%;
	}

	.contents-wrap-b.bros {
		border-top: 1px #eee solid;
	}

	.contents-wrap-b-in {
		border-top: 2px #efefef solid;
		margin: 20px 0 0;
	}

    /* - contents-wrap-c */
	.contents-wrap-c {
		border: 1px #c8c8c8 solid;
		margin: 0 10px;
		position: relative;
		z-index: 1;
	}

    /* - contents-wrap-d */
	.contents-wrap-d {
		background: #fff;
		border: 0;
		margin: 24px 0 0;
		padding: 0;
	}

	.contents-wrap-d-in {
		margin: 20px 0 0;
	}

	.contents-wrap-e {
		background: #fff;
		border: 0;
		margin: 24px 0 0;
		padding: 0;
	}

    /* search-bros-wrap */
	.search-bros-wrap {
		margin: 0;
	}

    /* tab-wrap */
	.tab-wrap {
		margin: 0 0 -2px;
	}

	h2 + .tab-wrap {
		margin: 0;
	}

	.tab-wrap-b {
		background: #fff;
		padding: 0;
	}

	aside + .tab-wrap {
		margin: 10px 0 -2px;
	}

    /* content-box */
	.content-box {
		margin: 28px 0 0;
	}

	.content-box:first-child {
		margin: 10px 0 0;
	}

	.content-box > .title {
		margin: 12px 0 0;
	}

	.content-box.content-box-ej {
		margin: 18px 0 0;
	}

	.content-box.ranking_back_number {
		margin: 20px 0 0;
	}
	.content-box.ranking_back_number:first-child {
		margin: 10px 0 0;
	}
	.content-box.ranking_back_number > .title {
		margin: 0;
	}

	.content-box.search-rank-main {
		margin: 0;
	}

	.content-box.search-rank-main.open {
		width: 100%;
	}

	.content-box.category {
		margin: 0;
	}

	.content-box.category ul {
		display: none;
	}

	.content-box.category .in-ttl-e {
		background: #fff;
		border-bottom: 1px #eee solid;
		margin: 0;
		padding: 0;
	}

	.content-box.category .in-ttl-e a {
		border: none;
		color: #36c;
		display: block;
		font-size: 14px;
		font-weight: normal;
		padding: 16px 24px 13px 8px;
		position: relative;
	}

	.content-box.category .in-ttl-e a:before {
		color: #666;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -7px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.content-box.category.col2 .content-box-in.col2 {
		float: none;
	}

	.content-box.category.col2 .in-ttl-e {
		border-left: 1px #eee solid;
		float: left;
		width: 50%;
	}

	.content-box.category-sup {
		margin: 28px 0 0;
	}

	.content-box-in.col2 {
		padding: 0;
		width: 100%;
	}

	.content-box-in.col2 + .content-box-in.col2 {
		padding: 0;
	}

	.content-box-in.col2 + .content-box-in.col2.NR-nav-words-next.padding-bottom {
		padding-bottom: 15px;
	}
        .category-title .content-box-in.col2,
	.category-idiom-title .content-box-in.col2 {
		float: none;
	}

	.content-box-in.col3 {
		width: 100%;
	}

	.content-box-in.col-left {
		float: none;
		width: auto;
	}

        .content-box-in.col-left.category-idiom-index-no {
		display: none;
	}

	.content-box-in.col-right {
		border-width: 0;
		float: none;
		padding: 0;
		width: auto;
	}

	.category-sup .content-box-in.margin {
		margin: 15px 0 0;
		padding: 0;
	}

	.content-box-b {
		border-bottom: 1px #eee solid;
		padding: 0 0 24px;
	}

    /* photo-unit */
	.photo-unit img {
		max-width: 100%;
	}

    /* knowledge-unit */
	.knowledge-unit {
		margin: 0 0 24px;
	}

	.knowledge-unit dl {
		overflow: hidden;
		padding: 0 10px;
	}

	.knowledge-unit dl dt {
		line-height: 1.6;
		vertical-align: top;
		width: 20%;
	}

	.knowledge-unit dl dd {
		line-height: 1.6;
		vertical-align: top;
		width: 70%;
	}

	.knowledge-unit .senryu {
		line-height: 1.6;
		margin: 0 10px;
	}

    /* list-search-a */
	.list-search-a {
		border-bottom: 1px #999 solid;
	}

	.list-search-a:last-child {
		border-bottom: 0;
	}

	.list-search-a > li {
		margin: 0;
		padding: 0;
	}

	.list-search-a > li:first-child {
		margin: 0;
	}

	.list-search-a > li:nth-child(2n) {
		background: #efefef;
	}

	.list-search-a > li a {
    	/*padding: 19px 10px;*/
		padding: 15px 10px;
	}

	.list-search-a.list-index > li {
		margin: 0;
	}

	.list-search-a.list-index > li:first-child {
		margin: 0;
	}

	.list-search-a-in .icon {
		display: none;
	}

	.list-search-a-in .provide {
		float: left;
		line-height: 1.4;
	}

    /* list-search-b */
	.list-search-b {
		border-bottom: 1px #999 solid;
	}

	.list-search-b > li {
		border-bottom: 0;
		padding: 19px 10px;
	}

	.list-search-b > li:nth-child(2n) {
		background: #efefef;
	}

	.list-search-b-in .list {
		padding: 10px 0 0;
	}

    /* list-tab-a タブメニュー */
	.list-tab-a {
		margin: 0 0 -2px 15px;
		text-align: left;
	}

	.list-tab-a li {
		margin: 0 1% 0 0;
		width: 18%;
	}

	.list-tab-b {
		margin: 1px 0 -2px 1%;
		text-align: center;
	}

	.list-tab-b li,
	.list-tab-b-ranking li,
	.list-tab-b-top li {
		background: #9c4836;
		border-radius: 0;
		color: #fff;
		font-size: 13px;
		margin: 0 1% 0 0;
		padding: 8px 0;
		width: 32%;
	}

	.list-tab-b li:link,
    .list-tab-b li:visited,
	.list-tab-b-ranking li:link,
	.list-tab-b-ranking li:visited,
	.list-tab-b-top li:link,
	.list-tab-b-top li:visited {
		color: #fff;
		text-decoration: none;
	}

	.list-tab-b li:hover,
	.list-tab-b-ranking li:hover,
	.list-tab-b-top li:hover {
		color: #fff;
		opacity: 0.8;
		text-decoration: underline;
	}

    /* list-simple-a */
	.list-simple-a.sp-linkbar {
		margin: 0;
	}

	.list-simple-a.sp-linkbar > li {
		border-bottom: 1px #eee solid;
		margin: 0;
		overflow: visible;
		padding: 0;
		position: relative;
		white-space: normal;
		width: 100%;
	}

	.list-simple-a.sp-linkbar > li:before {
		color: #666;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 12px;
		font-style: normal;
		font-weight: normal;
		margin-top: -6px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.list-simple-a.sp-linkbar > li:before {
		left: auto;
	}

	.list-simple-a.sp-linkbar > li a {
		display: block;
		padding: 12px 20px 12px 10px;
	}

	.category-sup .content-box-in > .list-simple-a li,
	.category-idiom-sup .content-box-in > .list-simple-a li {
		display: block;
		margin: 16px 0 0 10px;
		width: 100%;
	}

	.list-simple-a.col2-small > li{
		margin: 16px 0 0 14px;
		width: 43%;
	}

    /* list-simple-b */
	.category-sup .content-box-in > .list-simple-b {
		margin: 8px 0 0;
	}

    /* list-simple-c */
	.list-simple-c {
		margin: 0 0 20px 1em;
	}

    /* list-simple-d */
	.list-simple-d li {
		margin: 0 0 10px;
		padding: 0 10px;
	}

	.list-simple-d li:before {
		top: 0.7em;
	}

	.category-title .content-box-in.col2 .list-simple-d,
	.category-idiom-title .content-box-in.col2 .list-simple-d {
		margin: 0;
		padding: 0;
	}

	.category-title .content-box-in.col2 .list-simple-d > li,
	.category-idiom-title .content-box-in.col2 .list-simple-d > li {
		border-bottom: 1px #eee solid;
		display: block;
		margin: 0;
		padding: 0;
	}

	.category-title.col2 .content-box-in.col2 {
		float: left;
		width: 50%;
	}

	.category-title.col2 .content-box-in.col2 .list-simple-d > li {
		border-left: 1px #eee solid;
		float: left;
		width: 100%;
	}

	.category-title .content-box-in.col2 .list-simple-d > li:before,
	.category-idiom-title .content-box-in.col2 .list-simple-d > li:before {
		display: none;
	}

	.category-title .content-box-in.col2 .list-simple-d > li a,
	.category-idiom-title .content-box-in.col2 .list-simple-d > li a {
		display: block;
		font-weight: normal;
		padding: 16px 24px 13px 8px;
		position: relative;
	}

	.category-title .content-box-in.col2 .list-simple-d > li a:before,
	.category-idiom-title .content-box-in.col2 .list-simple-d > li a:before {
		color: #666;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -10px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.level-title .content-box-in.col3 .list-simple-d {
		margin: 0;
		padding: 0;
	}

	.level-title .content-box-in.col3 .list-simple-d > li {
		border-bottom: 1px #eee solid;
		display: block;
		margin: 0;
		padding: 0;
	}

	.level-title.col3 .content-box-in.col3 {
		float: left;
		width: 33%;
	}

	.level-title.col3 .content-box-in.col3 .list-simple-d > li {
		border-left: 1px #eee solid;
		float: left;
		width: 100%;
	}

	.level-title .content-box-in.col3 .list-simple-d > li:before {
		display: none;
	}

	.level-title .content-box-in.col3 .list-simple-d > li a {
		display: block;
		font-weight: normal;
		padding: 16px 24px 13px 8px;
		position: relative;
	}

	.level-title .content-box-in.col3 .list-simple-d > li a:before {
		color: #666;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -10px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.update_info .list-simple-d {
		margin: 0;
	}

	.index-promotion {
		margin: 16px 0 0 10px;
	}

	/* list-test */
	.list-test {
		margin: 0;
	}

	.list-test dl dt {
		display: none;
	}

	.list-test dl dd {
		width: 100%;
	}

	.list-test label {
		display: block;
		margin: 0 20px 20px;
		text-align: left;
	}

    /* list-column */
	.list-column {
		margin: auto;
		width: auto;
	}

	.list-column > li {
		float: none;
		margin: 0 0 20px;
		min-height: 75px;
		padding: 0 10px;
		position: relative;
		width: auto;
	}

	.list-column > li .image {
		left: 10px;
		position: absolute;
		top: 0;
		width: 100px;
	}

	.list-column > li .image img {
		width: 100%;
	}

	.list-column > li .title {
		margin: 0 0 10px 110px;
		word-break: break-all;
	}

	.list-column > li .description {
		margin: 0 0 0 110px;
		word-break: break-all;
	}

    /* list-sp-nav */
	.list-sp-nav {
		border-bottom: 1px #ccc solid;
		letter-spacing: -0.4em;
		padding: 0;
		position: relative;
	}

	.list-sp-nav:after {
		border-left: 1px #ccc solid;
		content: '';
		display: block;
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
	}

	.list-sp-nav li {
		border-bottom: 1px #ccc solid;
		display: inline-block;
		letter-spacing: normal;
		margin: -3px 0 0;
		overflow: hidden;
		padding: 0;
		vertical-align: top;
		width: 50%;
	}

	.list-sp-nav li:last-child {
		border-bottom: 0 #fff solid;
	}

	.list-sp-nav li a {
		display: inline-block;
		font-size: 16px;
		margin: 3px 0 0;
		padding: 13px 20px 10px;
		width: 100%;
	}

	.list-sp-nav li a:link,
    .list-sp-nav li a:visited {
		color: inherit;
		text-decoration: none;
	}

	.list-sp-nav li a:hover {
		color: inherit;
		opacity: 0.8;
		text-decoration: none;
	}

	.list-sp-nav li a span {
		padding: 0 0 0 20px;
		position: relative;
	}

	.list-sp-nav li a span:before {
		color: #333;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		left: 0;
		margin-top: -7px;
		position: absolute;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

    /** ul,li -> h3 **/
	.list-sp-nav h3 {
		border-bottom: 1px #ccc solid;
		display: inline-block;
		letter-spacing: normal;
		margin: -3px 0 0;
		overflow: hidden;
		padding: 0;
		vertical-align: top;
		width: 50%;
	}

	.list-sp-nav h3:last-child,
	.list-sp-nav h3:nth-last-child(2){
		border-bottom: 0 #fff solid;
	}

	.list-sp-nav h3 a {
		display: inline-block;
		font-size: 16px;
		margin: 3px 0 0;
		padding: 13px 20px 10px;
		width: 100%;
	}

	.list-sp-nav h3 a:link,
    .list-sp-nav h3 a:visited {
		color: inherit;
		text-decoration: none;
	}

	.list-sp-nav h3 a:hover {
		color: inherit;
		opacity: 0.8;
		text-decoration: none;
	}

	.list-sp-nav h3 a span {
		padding: 0 0 0 20px;
		position: relative;
	}

	.list-sp-nav h3 a span:before {
		color: #333;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		left: 0;
		margin-top: -7px;
		position: absolute;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}
    /** ul,li -> h3 **/

    /* side-list-b */
	.side-list-b > li {
		margin-top: 10px;
	}

	.side-list-b-unit {
		display: table;
		table-layout: fixed;
	}

	.side-list-b-unit .rank {
		display: table-cell;
	}

	.side-list-b-unit .title {
		display: table-cell;
		width: auto;
	}

    /* list-tag-a タグリスト */
	*:first-child + html .list-tag-a {
		zoom: 1;
	}

	.list-tag-a:after {
		clear: both;
		content: ' ';
		display: table;
	}

	.list-tag-a .tag {
		float: left;
	}

    /* list-tag-b タグリスト */
	.list-tag-b li {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 10px 10px 8px;
	}

	.list-tag-b li:before {
		font-size: 16px;
		margin: 1px 3px 0 0;
	}

	.list-tag-b li a {
		border-bottom: 1px #000 solid;
		color: #000;
	}

	.list-tag-b li a:hover {
		opacity: 0.8;
		text-decoration: none;
	}

    /* list-data-a */
	.list-data-a {
		padding: 0 10px;
	}

	.list-data-a .title {
		font-size: 11px;
		max-width: 40%;
	}

	.list-data-a .text {
		font-size: 11px;
		max-width: 59%;
	}

    /* list-data-b */
	.list-data-b > li.text {
		padding: 0 10px 0 1em;
	}

	.list-data-b-in .text-en {
		color: #36c;
	}

	.list-data-b-in .text-en span {
    	/* margin: 0 5px 0 0; */
	}

	.list-data-b-in .text-en a {
		margin: 0 5px 0 0;
	}

    /* list-data-c */
	.list-data-c {
		display: block;
		margin: 11px 0;
	}

	.list-data-c .photo {
		display: inline-block;
		height: 56px;
		width: 56px;
	}

	.list-data-c .photo a {
		display: block;
		height: 56px;
		position: relative;
		width: 56px;
	}

	.list-data-c .photo img {
		bottom: 0;
		height: auto;
		left: 0;
		margin: auto;
		max-height: 56px;
		max-width: 56px;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}

    /* list-data-d */
	.list-data-d .title {
		border-top: 1px #ccc solid;
		margin: 0;
		padding: 0 10px 0;
	}

	.list-data-d .title:first-child {
		border: 0;
		margin: 0;
	}

	.list-data-d .text {
		padding: 0 10px 10px;
	}

	.category-sup .list-data-d,
    .category-idiom-sup .list-data-d {
		margin: 26px 8px 0;
		padding: 26px 0 0;
	}

	.category-sup .list-data-d:first-child,
    .category-idiom-sup .list-data-d:first-child {
		border: 0;
		padding: 0;
	}

	.category-sup .list-data-d .list-simple-a > li:before,
	.category-idiom-sup .list-data-d .list-simple-a > li:before {
		top: 2px;
	}

	.category-sup .list-data-d .list-simple-a > li a,
    .category-idiom-sup .list-data-d .list-simple-a > li a,
    .category-sup .list-data-d .list-simple-a .list-simple-b li a,
    .category-idiom-sup .list-data-d .list-simple-a .list-simple-b li a {
		line-height: 1.4;
		white-space: normal;
	}

    /* list-data-e */
	.list-data-e li .example {
		line-height: 1.6;
	}

	.list-data-e li .cite {
		margin: 5px 0 0;
	}

	.category-sup .list-data-e {
		padding: 0;
	}

    /* link-more */
	.link-more {
		margin: 30px 0 0;
		text-align: right;
	}

    /* list-rank-a */
	.list-rank-a > li {
		border-top: 1px #eee solid;
		margin: 0;
	}

	.list-rank-a > li:first-child {
		border: 0;
		margin: 0;
	}

	.list-rank-a > li:last-child {
		border-bottom: 1px #eee solid;
		margin: 0;
	}

	.content-box-in.col2 + .content-box-in.col2 .list-rank-a > li:first-child {
		border: 0;
	}

	.list-rank-a > li a {
		display: block;
		padding: 12px 10px;
	}

	.list-rank-a > li a:link,
    .list-rank-a > li a:visited {
		color: inherit;
		text-decoration: none;
	}

	.list-rank-a > li a:hover {
		color: inherit;
		opacity: 0.8;
		text-decoration: none;
	}

	.search-rank-main .list-rank-a {
		padding: 5px 0 0;
	}

	.content-box-in:nth-child(2) .list-rank-a {
		padding: 0;
	}

	.list-rank-a-unit .title {
		max-width: 190px;
	}

    /* list-word */
	.list-word {
		margin: 0 0 0 3%;
	}

	.list-word li {
		float: left;
		margin: 3% 0 0 3%;
		text-align: center;
		width: 16%;
	}

	.list-word li span {
		font-size: 20px;
		padding: 25% 25%;
	}

	.list-word li a {
		font-size: 20px;
		padding: 25% 25%;
	}

	.list-word li.blank {
		visibility: hidden;
	}

    /* list-dic-category */
        .category-index .list-dic-category,
	.category-idiom-index .list-dic-category {
		margin: 10px 0 0;
	}

        .category-index .list-dic-category dt,
	.category-idiom-index .list-dic-category dt {
		background: #c33;
		border-bottom: 1px #ccc solid;
		padding: 8px 10px 4px;
	}

        .category-index .list-dic-category dt a,
	.category-idiom-index .list-dic-category dt a {
		border-bottom: 1px #fff solid;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		font-weight: normal;
	}

	.list-dic-category dd ul li a:before {
		display: none;
	}

        .category-index .list-dic-category dd > ul > li,
	.category-idiom-index .list-dic-category dd > ul > li {
		border-top: 1px #ccc solid;
		margin: 0;
		padding: 0;
	}

        .category-index .list-dic-category dd > ul > li:first-child,
	.category-idiom-index .list-dic-category dd > ul > li:first-child {
		border: 0;
	}

        .category-index .list-dic-category dd > ul > li.is-toggle > a:before,
	.category-idiom-index .list-dic-category dd > ul > li.is-toggle > a:before {
		color: #666;
		content: '\f067';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		left: 10px;
		margin-top: -10px;
		position: absolute;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

        .category-index .list-dic-category dd > ul > li.is-toggle.is-active > a:before,
	.category-idiom-index .list-dic-category dd > ul > li.is-toggle.is-active > a:before {
		content: '\f068';
	}

        .category-index .list-dic-category dd > ul > li > a,
	.category-idiom-index .list-dic-category dd > ul > li > a {
		background: #eee;
		font-size: 14px;
		padding: 12px 30px 10px;
	}

        .category-index .list-dic-category dd ul li ul,
	.category-idiom-index .list-dic-category dd ul li ul {
		display: none;
		margin: 0;
	}

        .category-index .list-dic-category dd > ul > li.is-toggle.is-active ul,
	.category-idiom-index .list-dic-category dd > ul > li.is-toggle.is-active ul {
		display: block;
	}

        .category-index .list-dic-category dd ul li ul li,
	.category-idiom-index .list-dic-category dd ul li ul li {
		border-top: 1px #eee solid;
		display: block;
		float: none;
		margin: 0;
		padding: 0;
	}

        .category-index .list-dic-category dd ul li ul li:first-child,
	.category-idiom-index .list-dic-category dd ul li ul li:first-child {
		border-top: 1px #ccc solid;
	}

        .category-index .list-dic-category dd ul li ul li a,
	.category-idiom-index .list-dic-category dd ul li ul li a {
		font-size: 14px;
		padding: 12px 30px 10px;
	}

	.content-box.new_words {
		margin: 8px 0 16px 0;
		padding: 0 8px 0 8px;
	}

    /* sns-button */
	.social-button {
		background: #fff;
		margin: 20px auto 0 !important;
		text-align: center;
		width: 300px;
	}

	.social-button li {
		margin: 0 8px 0 0;
		padding: 0;
		vertical-align: top;
	}

	.social-button-wide {
		width: 100%;
	}

	.social-button-wide ul {
		letter-spacing: -0.4em;
		text-align: center;
	}

	.social-button-wide li {
		height: 32px;
		letter-spacing: normal;
		margin: 0 1.5%;
		width: 21%;
	}

	.social-button-wide li a {
		height: 100%;
		text-align: center;
		width: 100%;
	}

	.social-button-wide li.twitter a {
		background: #5ea9dd;
	}

	.social-button-wide li.facebook a {
		background: #3c589d;
	}

	.social-button-wide li.line a {
		background: #00c300;
	}

	.social-button-wide li.gplus a {
		background: #dd4c39;
	}

	.social-button-wide li img {
		display: inline-block;
		height: 32px;
		width: 32px;
	}

/* sp-h2 */

	.content-box.category-sup.h2-first {
		padding: 0;
	}

	.content-box.category-sup.h2-other {
        	margin: 0;
		padding: 0;
		border-top: 1px #ccc solid;
        }

	.sp-h2-toggle li h2.ttl-g {
		background: #eee;
		border: #000;
		color: #000;
	}

	.sp-h2-toggle li.is-toggle h2.ttl-g span:before {
		color: #666;
		content: '\f067';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		position: absolute;
		text-decoration: none;
		left: 16px;
		margin-top: 1px;
	}

        .sp-h2-toggle li.is-toggle.is-active h2.ttl-g span:before {
               content: '\f068'; 
        }

	.sp-h2-toggle li h2.ttl-g span {
		display: inline-block;
		line-height: 2.0;
		padding: 0 0 0 18px;
		color: #36c;
		font-size: 14px;
		font-weight: normal;
	}

        .sp-h2-toggle li .list-data-e, 
	.sp-h2-toggle li p,
        .sp-h2-toggle li div {
        	display: none;
        	margin: 0;
        }

        .sp-h2-toggle li.is-toggle.is-active .list-data-e, 
	.sp-h2-toggle li.is-toggle.is-active p,
        .sp-h2-toggle li.is-toggle.is-active div {
        	display: block;
        }

	.sp-h2-toggle li p.link-more {
		padding-bottom: 30px;
	}

	.sp-h2-toggle li div.content-box-in.margin {
		padding-bottom: 30px;
	}

/* sp-surround */

	.sp-surround .ttl-a {
		font-size: 16px;
		font-weight: bold;
	}

	.sp-surround .list-simple-d {
		margin: 0;
		padding: 10px;
	}

	.sp-surround .list-simple-d li {
		line-height: 12px;
		margin: 10px -10px -8px;
	}

	.sp-surround .list-simple-d li:before {
		display:none;
	}

	.sp-surround .list-simple-d li.current a:link,
	.sp-surround .list-simple-d li.current a:visited {
		color: #000;
		font-weight: bold;
	}

	.sp-surround .list-simple-d li a:link,
	.sp-surround .list-simple-d li a:visited {
		color: #36c;
		text-decoration: none;
	}




    /* ============================== */
    /* Components                     */
    /* ============================== */
    /* pager */
	.nav-paging-in {
		margin: 20px 0;
	}

	.nav-paging-in li {
		vertical-align: middle;
	}

	.nav-paging-in li.NR-now,
    .nav-paging-in li.top,
    .nav-paging-in li.last,
    .nav-paging-in li.prev,
    .nav-paging-in li.next,
    .nav-paging-in li.dot {
		display: inline-block;
		vertical-align: middle;
	}

	.nav-paging-in li.top-num,
    .nav-paging-in li.last-num {
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}

	.nav-paging-in li.top-num:before {
		right: -22px;
	}

	.nav-paging-in li.last-num:before {
		left: -22px;
	}

	.nav-paging-in li.NR-now {
		padding: 0;
	}

	.nav-paging-in li.dot {
		height: auto;
		margin: 0;
	}

	.nav-paging-in li.NR-now a {
		padding: 8px 0;
	}

	.nav-paging-in li.top a,
    .nav-paging-in li.last a,
    .nav-paging-in li.prev a,
    .nav-paging-in li.next a {
		border: 1px #ccc solid;
		padding: 6px 0;
	}

	.nav-paging-in li.prev img,
    .nav-paging-in li.next img {
		height: 18px;
		width: 10px;
	}

	/* text */
	.text-b {
		font-size: 14px;
	}

    /* link-text */
	.link-text-a {
		font-size: 14px;
	}

    /* box */
	.box-a {
		padding: 5px;
	}

	.box-b {
		padding: 5px;
	}

    /* table */
	.nr-info-col1 {
		width: 120px;
	}

    /* sup */
	.sup-a {
		color: #666;
		font-size: 12px;
		text-align: right;
	}

	.content-box .cite.sup-a {
		margin: 12px 0 0;
	}

	.header.ttl-a + .cite.sup-a {
		display: none;
	}

    /* more */
	.more {
		font-size: 13px;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.more:before {
		color: #666;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -7px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.more a {
		display: block;
		padding: 20px 30px 20px 0;
		text-align: right;
	}

    /* search */
	.srchnum {
		font-size: 13px;
	}

	.ttl-a {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
	}

	.ttl-a a:link,
    .ttl-a a:visited {
		color: inherit;
		text-decoration: none;
	}

	.ttl-a a:hover {
		color: inherit;
		opacity: 0.8;
		text-decoration: underline;
	}

	h1.ttl-a,
    .ttl-a.obi {
		background: #c33;
		color: #fff;
		font-size: 20px;
		font-weight: normal;
		margin: 0;
		padding: 8px 10px;
	}

	h1.ttl-a .srchnum,
    .ttl-a.obi .srchnum {
		color: #fff;
		font-size: 12px;
	}

	h1.ttl-a .srchnum_grey {
		color: #666;
		font-size: 12px;
	}

	h1.ttl-a.header,
    .ttl-a.obi.header {
		background: #fff;
		color: #333;
		font-size: 18px;
		line-height: 1.4;
		padding: 0;
	}

	h1.ttl-a.header100,
    .ttl-a.obi.header100 {
		background: #fff;
		color: #333;
		font-size: 18px;
		line-height: 1.4;
		padding: 0;
	}

	.header.ttl-a span {
		font-size: 14px;
		font-weight: normal;
	}

	.ttl-b {
		font-size: 14px;
		line-height: 1.2;
	}

	.ttl-c {
		background: #f5f4f3;
		border-bottom: 2px #9c4836 solid;
		font-size: 18px;
		font-weight: normal;
		margin: 0;
		padding: 12px 0 10px;
	}

	.ttl-c .title {
		border-left: 0;
		display: inline-block;
		font-weight: normal;
		line-height: 1.2;
		padding: 0 10px;
		vertical-align: middle;
	}

	*:first-child + html .ttl-c .title {
		display: inline;
		zoom: 1;
	}

	.ttl-c .sup {
		display: inline-block;
		line-height: 1.2;
		vertical-align: middle;
	}

	*:first-child + html .ttl-c .sup {
		display: inline;
		zoom: 1;
	}

	.ttl-d {
		font-size: 18px;
		font-weight: bold;
	}

	.contents-wrap-e .ttl-d {
		background: #c33;
		color: #fff;
		font-size: 20px;
		font-weight: normal;
		left: auto;
		margin: 0;
		padding: 8px 10px;
		position: relative;
		top: auto;
		line-height: 20px;
	}

	.ttl-e {
		background: #c33;
		color: #fff;
		font-size: 20px;
		font-weight: normal;
		left: auto;
		margin: 0;
		padding: 8px 10px;
		position: relative;
		top: auto;
	}

	.ttl-e:after {
		display: none;
	}

	.ttl-f {
		background: #f5f4f3;
		border-bottom: 2px solid #9c4836;
		color: #333;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 20px;
		padding: 10px;
	}

	.contents-wrap-a .ttl-f {
		border-top: 1px #ccc solid;
		margin: 0;
	}

	.contents-wrap-a .ttl-f:first-child {
		border-top: 0;
	}

	.contents-wrap-a .ttl-f.first {
		border-top: 1px #ccc solid;
	}

	.ttl-f .sup {
		font-size: 12px;
	}

	.contents-wrap-a .ttl-f.ranking_others {
		margin-top: 24px;
	}

	.contents-wrap-e .ttl-f {
		margin: 0 0 24px;
	}

    /* article-ttl-a */
	.article-ttl-a {
		background: #fff url(/img/mark_leaves.gif) no-repeat right bottom;
		border-bottom: 2px #9c4836 solid;
		margin: 10px 0 0;
		padding: 0 10px 28px;
		position: relative;
	}

	.article-ttl-a .label {
		display: none;
	}

	.article-ttl-a .title {
		display: block;
		font-size: 18px;
		line-height: 1.2;
		margin-left: 0;
		width: 100%;
	}

	.article-ttl-a .title a {
		font-weight: bold;
	}

	.article-ttl-a .title a:link,
    .article-ttl-a .title a:visited {
		color: inherit;
		text-decoration: none;
	}

	.article-ttl-a .title a:hover {
		color: inherit;
		opacity: 0.8;
		text-decoration: underline;
	}

    /* side header */
	.side-ttl-a {
		border-bottom: 2px #9c4836 solid;
		font-size: 16px;
		margin: 25px 10px 0;
		padding: 0 0 8px;
	}

	.side-ttl-a .fa {
		color: #9c4836;
		font-size: 16px;
		padding-right: 7px;
		vertical-align: top;
	}

	*:first-child + html .side-ttl-a .fa {
		padding-right: 0;
	}

    /* content title */
	.in-ttl-a {
		font-size: 18px;
	}

	.in-ttl-b {
		font-size: 15px;
	}

	.in-ttl-b i {
		display: inline;
		font-style: italic;
		margin-right: 0;
	}

	.in-ttl-c {
		font-size: 15px;
		padding: 0 0 10px;
	}

	.ranking_back_number .in-ttl-c {
		padding: 0;
	}

	.in-ttl-d {
		font-size: 15px;
	}

	.category-sup .in-ttl-e {
		margin: 20px 0 0;
	}

    /* side content title */
	.in-side-ttl-a {
		font-size: 14px;
	}

    /* ============================== */
    /* trumps                         */
    /* ============================== */
    /* ロゴ調整 */
	.NR-rwd #NR-header-logo-goo {
		left: 0;
		margin: 0 8px 0 0;
		position: absolute;
		top: 0;
	}

    /* ヘッダー調整 */
	.NR-rwd #NR-header-in {
		border-bottom: 2px #9c4836 solid;
	}

    /* ナビ調整 */
	.NR-rwd #NR-nav-main li.NR-now a {
		background: #9c4836;
	}

    /* パンくず */
	.tpath {
		background: #fff;
	}

	.NR-rwd .NR-tpath {
		display: none;
		padding: 10px 0 0 10px;
	}

	.NR-rwd .NR-tpath ol {
		padding: 0;
	}

	.NR-rwd .NR-tpath.footer {
		display: block;
		padding: 10px 0 0 10px;
	}

    /* メインエリア */
	#NR-main {
		float: none;
		-webkit-transform: translate3d(0, 0, 0);
	}

	#NR-wrapper {
		background: #fff;
		padding: 0;
	}

	#NR-wrapper-in {
		padding: 0;
	}

    /* 検索 */
	.NR-rwd .NR-search {
		background: #fff;
		overflow: visible !important;
		padding: 20px 10px 8px;
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		z-index: 1000;
	}

	.NR-rwd .NR-search-top {
		background: #fff;
		overflow: visible !important;
		padding: 5px 10px 20px;
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		z-index: 1000;
	}

	.NR-rwd .NR-search-in {
		margin: 0 0 0 1%;
		padding: 0;
		width: 100%;
	}

	.NR-rwd .NR-search-in .search-unit {
		border: 2px #999 solid;
		float: left;
		position: relative;
		width: 78%;
	}

	.NR-rwd .NR-search-in .NR-search-text {
		float: none;
		font-size: 14px;
		line-height: 1;
		padding: 1px 0 1px 5px;
		width: 100%;
	}

	.NR-rwd .NR-search-in .NR-select {
		display: none;
	}

	.NR-rwd .NR-search-in .menu {
		display: none;
	}

	.NR-rwd .NR-search-in .NR-button {
		-webkit-appearance: none;
		appearance: none;
		float: left;
		height: 45px;
		margin-left: 3px;
		width: 50px;
	}

	.suggest-unit {
		background: #fff;
		border: 2px #ddd solid;
		border-top: 0 #fff solid;
		box-sizing: content-box;
		font-size: 14px;
		left: -2px;
		padding: 0;
		position: absolute;
		top: 44px;
		-webkit-transform: translate3d(0, 0, 0);
		width: 100%;
		z-index: 1000;
	}

	.suggest-unit li a {
		color: #111;
		display: block;
		padding: 10px;
		text-decoration: none;
	}

	.suggest-unit li a:hover {
		background-color: #9c4836;
		color: #fff;
	}

	#search-unit_sp {
		display: block;
	}

	#search-button_sp {
		display: block;
	}

    /* コンテンツエリア調整 */
	#NR-sub {
		margin-top: 0;
	}

    /* ad-wrap */
	.ad-wrap {
		margin: 0;
		width: 100%;
	}

        .ad-wrap-bottom {
                margin-top: 60px;
        }

    /* contents-wrap-senryu */
	.contents-wrap-senryu {
		background: #fff;
		border-bottom: 1px #eee solid;
		font-size: 14px;
		margin: 0;
		padding: 0 0 20px;
	}

	.contents-wrap-senryu h1 {
		text-align: center;
	}

	.contents-wrap-senryu h1 img {
		height: auto;
		width: 100%;
	}

	.contents-wrap-senryu .lead {
		line-height: 1.6;
		padding: 20px;
	}

	.content-box-senryu {
		margin: 0;
		padding: 0;
	}

	.content-box-senryu h2 {
		background: #9c4836;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 12px;
		padding: 10px;
	}

	.content-box-senryu .question-unit {
		border-width: 0;
		padding: 0 0 40px;
		position: relative;
	}

	.content-box-senryu .question-unit:after {
		background-size: 25px 10px;
		bottom: -9px;
		height: 10px;
		width: 25px;
	}

	.content-box-senryu .question-unit .info {
		background: #9c4836;
		border-radius: 0;
		color: #fff;
		display: block;
		left: auto;
		padding: 10px 15px;
		position: relative;
		top: auto;
	}

	.content-box-senryu .question-unit .info .num {
		font-weight: bold;
		margin: 0 10px 0 0;
	}

	.content-box-senryu .question-unit .ttl {
		background: #e8c11a;
		font-weight: bold;
		margin: 0 0 24px;
		padding: 20px;
	}

	.content-box-senryu .question-unit .link-category {
		margin: 0 0 24px;
		padding: 0 20px;
		text-align: right;
	}

	.content-box-senryu .question-unit .link-category a {
		padding: 0 0 0 15px;
		position: relative;
	}

	.content-box-senryu .question-unit .link-category a:before {
		color: #ccc;
		content: '\f0da';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		left: 0;
		margin-top: -7px;
		position: absolute;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.content-box-senryu .question-unit .senryu br {
		display: block;
	}

	.content-box-senryu .question-unit .description {
		color: #333;
		padding: 0 20px;
	}

	.content-box-senryu .hint-unit {
		background: #efefef;
		border: 1px #ccc solid;
		margin: 0 0 40px 0;
		position: relative;
	}

	.content-box-senryu .hint-unit .ttl {
		background: #92780a;
		color: #fff;
		font-weight: bold;
		margin: 0 0 24px;
		padding: 20px;
	}

	.content-box-senryu .hint-unit .txt {
		line-height: 1.6;
		margin: 0 auto 24px;
		padding: 0 5px;
		width: auto;
	}

	.content-box-senryu .hint-unit .txt a {
		font-size: 24px;
	}

	.content-box-senryu .hint-unit .translation {
		color: #333;
	}

	.content-box-senryu .input-unit {
		text-align: center;
	}

	.content-box-senryu .input-unit .notice {
		color: #999;
		font-size: 20px;
		font-weight: bold;
		margin: 0 0 24px;
		text-align: center;
	}

	.content-box-senryu .input-unit .notice em {
		color: #9c4836;
		font-weight: bold;
	}

	.content-box-senryu .input-unit input {
		-webkit-appearance: none;
		border-radius: 0;
		margin: 0 auto 24px;
		width: 80%;
	}

	.content-box-senryu .input-unit .button-a {
		margin: 0 0 40px;
	}

	.content-box-senryu .column-unit {
		background: #f1e8b8;
		border: 1px #ccc solid;
		margin: 40px 20px 0;
		padding: 20px;
	}

	.content-box-senryu .column-unit .ttl {
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 20px;
	}

	.content-box-senryu .column-unit .txt {
		line-height: 1.6;
	}

	.content-box-senryu .answer-unit .answer-unit-in {
		padding: 20px;
	}

	.content-box-senryu .answer-unit .answer-unit-in:before {
		content: '';
		height: 57px;
		left: -55px;
		top: -5px;
		width: 57px;
		z-index: 2;
	}

	.content-box-senryu .answer-unit .answer-unit-in .txt {
		line-height: 1.6;
		margin: 0 0 20px -60px;
		text-align: center;
	}

	.content-box-senryu .answer-unit .answer-unit-in .txt em {
		color: #9c4836;
		font-size: 15px;
		font-weight: bold;
	}

	.content-box-senryu .answer-unit .answer-unit-in .senryu {
		font-size: 24px;
		margin: 0 0 10px;
	}

	.content-box-senryu .answer-unit .answer-unit-in .senryu br {
		display: block;
	}

	.content-box-senryu .answer-unit .answer-unit-in .author {
		text-align: center;
	}

	.content-box-senryu .answer-unit.answer-ok .answer-unit-in:before {
		background-size: 57px 57px;
	}

	.content-box-senryu .answer-unit.answer-ng .answer-unit-in:before {
		background-size: 57px 57px;
	}

	.content-box-senryu .error-unit {
		padding: 40px 0 20px;
	}

	.content-box-senryu .list-tag {
		margin: 0;
		padding: 0 10px;
	}

	.content-box-senryu .list-tag ul {
		letter-spacing: -0.4em;
	}

	.content-box-senryu .list-tag ul li {
		display: inline-block;
		letter-spacing: normal;
		margin: 0 8px 10px 0;
	}

	*:first-child + html .content-box-senryu .list-tag ul li {
		display: inline;
		zoom: 1;
	}

	.content-box-senryu .list-tag ul li a {
		background: #eee;
		border-radius: 20px;
		color: #999;
		display: block;
		font-size: 13px;
		padding: 8px 15px;
	}

	.content-box-senryu .list-tag ul li a.current {
		background: #9c4836;
		color: #fff;
	}

	.content-box-senryu .list-archive-wrap ul {
		border-top: 1px #eee solid;
	}

	.content-box-senryu .list-archive-wrap ul li {
		margin: 0;
		vertical-align: top;
	}

	.content-box-senryu .list-archive-wrap ul li:first-child {
		margin: 0;
	}

	.content-box-senryu .list-archive-wrap ul li:nth-child(2n) {
		background: #efefef;
	}

	.content-box-senryu .list-archive-wrap ul li a {
		color: #000;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		padding: 24px 20px 24px 10px;
		position: relative;
		width: 100%;
	}

	.content-box-senryu .list-archive-wrap ul li a:before {
		color: #ccc;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -7px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.content-box-senryu .list-archive-wrap ul li dl {
		padding: 0;
		text-align: left;
	}

	.content-box-senryu .list-archive-wrap ul li dl dt {
		color: #111;
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 10px;
	}

	.content-box-senryu .list-archive-wrap ul li dl dt:hover {
		text-decoration: underline;
	}

	.content-box-senryu .list-archive-wrap ul li dl dd {
		color: #333;
		font-size: 10px;
	}

	.content-box-senryu .list-archive-wrap ul li dl dd:hover {
		text-decoration: none;
	}

	.backnumber {
		text-align: center;
	}

	.backnumber a {
		padding: 0 0 0 15px;
	}

    /* contents-wrap-english */
	.contents-wrap-english {
		background: #fff;
		border-width: 0;
		box-sizing: border-box;
		font-size: 14px;
		margin: 0;
		padding: 0 0 40px;
	}

	.contents-wrap-english h1 {
		box-sizing: border-box;
		margin: 0 auto 24px;
		padding: 0 40px;
		text-align: center;
	}

	.contents-wrap-english h1 img {
		height: auto;
		width: 100%;
	}

	.contents-wrap-english .lead {
		line-height: 1.6;
		margin: 24px 0;
		padding: 0 20px;
	}

	.contents-wrap-english .social-button {
		margin: 0 0 16px;
		text-align: right;
		vertical-align: middle;
	}

	.contents-wrap-english.block-top {
		margin: 0;
	}

	.content-box-english {
		border-width: 0;
		margin: 0 0 24px;
	}

	.content-box-english .ttl-box {
		background: #699be1;
		box-sizing: border-box;
		color: #fff;
		padding: 10px;
	}

	.content-box-english .ttl-box .num {
		font-size: 14px;
	}

	.content-box-english .ttl-box .update {
		display: inline-block;
		font-size: 14px;
	}

	*:first-child + html .content-box-english .ttl-box .update {
		display: inline;
		zoom: 1;
	}

	.content-box-english .content-box-english-in {
		line-height: 1.6;
		padding: 20px;
	}

	.content-box-english .content-box-english-in.archive {
		padding: 0;
	}

	.content-box-english .content-box-english-in .list-backnumber li {
		margin: 0;
		vertical-align: top;
	}

	.content-box-english .content-box-english-in .list-backnumber li:first-child {
		margin: 0;
	}

	.content-box-english .content-box-english-in .list-backnumber li:nth-child(2n) {
		background: #efefef;
	}

	.content-box-english .content-box-english-in .list-backnumber li a {
		color: #000;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		padding: 24px 20px 24px 10px;
		position: relative;
		width: 100%;
	}

	.content-box-english .content-box-english-in .list-backnumber li a:before {
		color: #ccc;
		content: '\f054';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		margin-top: -7px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		top: 50%;
		z-index: 2;
	}

	.content-box-english .content-box-english-in .list-backnumber li a:before {
		left: auto;
	}

	.content-box-english .content-box-english-in .example-unit {
		padding: 24px 0;
	}

	.content-box-english .content-box-english-in .example-unit dl {
		box-sizing: border-box;
		letter-spacing: -0.4em;
		width: 100%;
	}

	.content-box-english .content-box-english-in .example-unit dl dt {
		display: inline-block;
		font-weight: bold;
		letter-spacing: normal;
		line-height: 1.8;
		margin: 0 0 10px;
		vertical-align: top;
		width: 15%;
		word-break: break-all;
	}

	*:first-child + html .content-box-english .content-box-english-in .example-unit dl dt {
		display: inline;
		zoom: 1;
	}

	.content-box-english .content-box-english-in .example-unit dl dd {
		display: inline-block;
		letter-spacing: normal;
		line-height: 1.8;
		margin: 0 0 10px;
		vertical-align: top;
		width: 85%;
		word-break: break-all;
	}

	*:first-child + html .content-box-english .content-box-english-in .example-unit dl dd {
		display: inline;
		zoom: 1;
	}

	.content-box-english .content-box-english-in .example-unit dl a {
		text-decoration: none;
	}

	.content-box-english .content-box-english-in .point-unit {
		background: #fdfdd7;
		border: 3px #dd4c39 dashed;
		margin: 40px 0 24px;
		padding: 32px 20px 16px;
		position: relative;
		width: auto;
	}

	.content-box-english .content-box-english-in .point-unit h3 {
		display: block;
		font-size: 14px;
		left: auto;
		margin: -40px auto 0;
		position: relative;
		text-align: center;
		top: -10px;
	}

	.content-box-english .content-box-english-in .point-unit p {
		font-size: 24px;
		margin: 12px 0;
	}

	.content-box-english .content-box-english-in .point-unit p span {
		display: inline-block;
		font-size: 32px;
		font-weight: bold;
		height: 32px;
		margin: 0 10px 0 0;
		text-indent: -9999px;
		vertical-align: top;
		width: 32px;
	}

	*:first-child + html .content-box-english .content-box-english-in .point-unit p span {
		display: inline;
		zoom: 1;
	}

	.content-box-english .content-box-english-in .point-unit .ok span {
		background: url(/mistake_english/img/ico_ok.png) no-repeat 0 50%;
		color: #f00;
	}

	.content-box-english .content-box-english-in .point-unit .ng span {
		background: url(/mistake_english/img/ico_ng.png) no-repeat 0 50%;
		color: #00f;
	}

	.content-box-english .content-box-english-in .author {
		color: #999;
	}

	.sankei-banner {
		margin: 0 0 24px;
		padding: 0 20px;
		text-align: center;
	}

	.sankei-banner img {
		width: 100%;
	}

	.backnumber {
		padding: 25px 0 0;
		text-align: center;
	}

	.backnumber a {
		padding: 0;
	}

	.backnumber a:before {
		display: none;
	}

	.gooad-padding {
		padding: 0 0 30px;
	}

	.list-data-a .related-word {
		margin-right: 0;
		max-width: 100%;
	}

	.list1 {
		margin: 0 15px 0;
	}

	.trends {
		width: 100%;
	}

	.NR-ad #gooad-spbadge320_1 {
		margin-top: 5px;
	}

	.NR-ad.NR-ad-top {
		margin-bottom: 10px;
	}

	.NR-search + * > .NR-ad {
		margin: 40px 0 0;
	}

	.NR-search + * > .NR-ad.ad-footer {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.NR-ad.ad-footer {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.contents-wrap-a .NR-ad,
    .contents-wrap-b .NR-ad {
		margin: 24px auto 10px;
	}

	/* トップ収録辞書 */
	#dict_list {
		margin: 0;
		padding: 0;
	}

	#dict_list dt,
	#dict_list_dd {
		display: block;
		clear: none;
		float: none;
	}

	#dict_list dt {
		margin: 0;
		padding-left: 10px;
		background-color: #eee;
		width: 100%;
	}

	#dict_list dd {
		margin: 0 0 10px 2rem;
	}

	#dict_list ul,
	#dict_list li {
		display: block;
	}

	#dict_list dd > ul > li:before {
		color: #ccc;
		content: '\f0da';
		display: block;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		left: 23px;
		margin-top: 9px;
		position: absolute;
		text-decoration: none;
		z-index: 2;
	}

	#dict_list li.children li {
		display: inline;
	}

	#dict_list li {
		margin-right: 10px;
		white-space: normal;
	}

	#dict_list li.children {
		white-space: normal;
	}

	#dict_list dd > ul > li:last-child,
	#dict_list dd > ul > li.children {
		margin: 0;
	}

	#dict_list dd > ul > li > ul {
		display: block;
		margin: 0 0 10px;
		padding: 0 1rem 0 1.5rem;
	}

	#dict_list dd > ul > li > ul > li:last-child {
		margin-right: 0;
	}
}

/* imported from old css file */
#NR-main div.kokugo div.explanation img {
	vertical-align: middle;
}

#NR-main div.kokugo div.explanation ul {
	padding: 5px 0;
}

#NR-main div.kokugo div.explanation ul li {
	list-style: none;
	margin: 20px 0 20px 0;
}
/*#NR-main div.kokugo div.explanation ul li a {margin: 0 0 0 15px ;line-height: 20px;}*/
#NR-main div.kokugo div.explanation ul li a.camera {
	margin: 0 0 0 4px;
}

#NR-main div.kokugo div.explanation ul li.synonym {
	background: url(/img/renewal2010/icon_synonym.gif) no-repeat;
	line-height: 19px;
	padding: 0 0 10px 60px;
}

#NR-main div.kokugo div.explanation ul li.related {
	background: url(/img/renewal2010/icon_relatedword.gif) no-repeat;
	line-height: 19px;
	padding: 0 0 10px 60px;
}

#NR-main div.kokugo div.explanation ul li span.synonym_ref {
	font-weight: bold;
}

#NR-main div.kokugo div.explanation ul li span.synonym_ref a {
	margin: 0 0 0 0;
}

#list_backnumber li.hide {
	display: none;
}

div.enditImg {
	float: right;
	margin: 0 20px 20px 0;
}
/* senryu img */
.question-unit-in img {
	margin-left: 3px;
	margin-right: 3px;
}

em {
	font-weight: bold;
}

.prog_parent {
	font-size: 16px;
	margin-top: 16px;
}

img.gaiji {
	height: 18px;
	vertical-align: middle;
}

img.prog_gaiji {
	height: 18px;
	vertical-align: middle;
}

h1.ttl-cj img.prog_gaiji {
	height: 22px;
	vertical-align: -2px;
}

h2.ttl-cj img.prog_gaiji {
	vertical-align: -2px;
}

.search-ttl-cj img.prog_gaiji {
	vertical-align: -2px;
}

.crumb-cj img.prog_gaiji {
	height: 16px;
	vertical-align: -2px;
}

div.content-box-cj img.prog_gaiji {
	vertical-align: -2px;
}

hatsuon .prog_gaiji {
	height: 27px;
}

.cjHelpArea p {
	padding-left: 1em;
}

.column_ref {
	margin-bottom: 10px;
	text-align: right;
}

.column_ref img {
	vertical-align: middle;
}

/*---------- progressive --------------*/
div.column {
	background: #f2f9ff;
	border: 1px solid #bdd8ef;
	font-size: 18px;
	line-height: 1.4em;
	margin: 15px 20px;
	padding: 15px;
}

/*---------- thsrs --------------*/
#NR-main ul.candidate {
	line-height: 19px;
	list-style: none;
	margin: 0;
	padding: 15px 0;
}

#NR-main ul.candidate li a {
	margin: 0 10px 0 0;
}

#NR-main ul.candidate li.relation {
	background: url(/img/renewal2010/icon_relatedword.gif) no-repeat;
	padding: 0 0 0 57px;
}


/*-------- .comparisonTable --------*/
#NR-main .comparisonTable {
	padding: 10px 0 5px 1em;
}

#NR-main .comparisonTable table {
	font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

#NR-main .comparisonTable table tr th,
#NR-main .comparisonTable table tr td {
	border: 1px solid #ccc;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 7px 10px;
	text-align: center;
	vertical-align: middle;
	width: 67px;
}

.related-word a {
	margin-right: 10px;
}


/* igakukan  table *************************************/
div.igakukanTable {
	margin: 0 15px 40px;
}

div.igakukanTable table {
	border: 0;
	border-bottom: #bcbcbc 1px solid;
	border-top: #bcbcbc 1px solid;
	font-size: 90%;
	width: 100%;
}

div.igakukanTable table caption {
	font-size: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

div.igakukanTable table td {
	border-bottom: #bcbcbc 1px dotted;
	border-left: #bcbcbc 1px solid;
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
}

div.igakukanTable table th {
	background: url('../img/table_dotline.gif') repeat-x bottom #ebf6ff;
	border-right: #fff 2px solid;
	border-top: #fff 2px solid;
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

div.igakukanTable table td.noLine {
	border-bottom: 0;
	padding-bottom: 2px;
}

div.igakukanTable table th.noDotline {
	background-color: #ebf6ff;
	background-image: none;
	border-bottom: #fff 2px solid;
	padding-bottom: 2px;
}

div.igakukanTable2 {
	margin: 0 15px 25px;
}

div.igakukanTable2 table {
	border: 0;
	border-bottom: #bcbcbc 1px solid;
	border-top: #bcbcbc 1px solid;
	font-size: 90%;
	width: 100%;
}

div.igakukanTable2 table caption {
	font-size: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

div.igakukanTable2 table td {
	background: url('../img/table_dotline.gif') repeat-x bottom #f4f4f4;
	border-top: #fff 2px solid;
	padding: 5px 10px 10px;
	text-align: left;
	vertical-align: top;
}

div.igakukanTable2 table td.noDotline2 {
	background-color: #f4f4f4;
	background-image: none;
	border-bottom: #fff 2px solid;
}

div.igakukanTable2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.igakukanTable2 ul li {
	background: url('../img/listmark_gray.gif') 0 6px no-repeat;
	margin: 0;
	padding: 0 0 0 15px;
}

div.listtable {
	margin: 10px 0;
	text-indent: 0;
}

div.listtable tr td:first-child {
	width: 20%;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

.fa {
	color: #000;
	display: inherit;
	margin-left: 5px;
}

.fa.inline {
	color: #000;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.tc {
	text-align: center;
}

.a_color a {
	color: #36c !important;
}

.a_color:visited a {
	color: #609! important;
}

span.btn_sound img {
	vertical-align: middle;
}

.text-c.ref {
	color: #666;
	font-size: 12px;
}

img[type='flag'] {
	display: none;
}

.text-indent {
	padding-left: 1em;
	text-indent: -1em;
}

.text-indent-3em {
	padding-left: 3em;
	text-indent: -3em;
}

.no-text-indent {
	padding-left: 0;
	text-indent: 0;
}

span[data-type='hatsuon'] i {
	margin-right: 0;
}

#sns-buttons {
	height: 20px;
}

#sns-buttons span {
	float: right;
	margin: 0;
	padding: 0;
}

#sns-buttons span.rgtspace {
	padding-right: 12px;
}

#sns-buttons table {
	margin: 0;
	padding: 0;
}

#sns-buttons table td {
	background: transparent no-repeat url(/img/sns-bubble.png);
	color: #464646;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	margin: 0;
	padding: 0;
}

#sns-buttons table td.count-value {
	background-position: -6px 0;
	vertical-align: middle;
	top-margin: 4px;
}

#sns-buttons table td.count-open {
	width: 11px;
}

#sns-buttons table td.count-close {
	background-position: -40px 0;
	width: 7px;
}

.flash-sound {
	vertical-align: -10%;
}

/* Trac-6133 */
#sp-backlink-biglobe {
	text-align: right;
}

#sp-backlink-biglobe ul li {
	margin: 10px 0 3px 0;
}

#sp-backlink-biglobe ul li a:link,
#sp-backlink-biglobe ul li a:visited {
	color: #333;
	text-decoration: none;
}

#sp-backlink-biglobe ul li a:hover {
	color: #333;
	opacity: 0.8;
	text-decoration: underline;
}

#NR-header-biglobe {
	text-align: right;
}

#NR-header-biglobe-logo {
	margin-right: 5px;
	max-height: 30px;
	vertical-align: middle;
	width: auto;
}

